<h1 mat-dialog-title>CURSOS</h1>
<div mat-dialog-content> 
    <form [formGroup]="courseForm" class="grid formgrid">
        <div class="col-12">
            <mat-form-field class="w-full">
                <mat-label>Nombre del curso</mat-label>
                <input formControlName="name" matInput />
            </mat-form-field>
        </div>      
        <div class="col-12">
            <mat-form-field class="w-full">
                <mat-label>Profesor adjunto</mat-label>
                <input formControlName="tname" matInput />
            </mat-form-field>
        </div>      
    </form>
</div>
<div mat-dialog-actions>
    <button mat-dialog-close mat-button mat-raised-button>Cancelar</button>
    <button (click)="onSave()" mat-button mat-raised-button>Guardar</button>
</div>
    