<div *ngIf="!isLoading">
    <app-user-form (userSubmitted)="onUserSubmitted($event)"></app-user-form>
    <h1></h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef appTitle> ID </th>
            <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef appTitle> Nombre Completo </th>
            <td mat-cell *matCellDef="let user"> {{user | fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef appTitle> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef appTitle> Rol </th>
            <td mat-cell *matCellDef="let user"> {{user.role}} </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef appTitle> Fecha de creación </th>
            <td mat-cell *matCellDef="let user"> {{user.fecha | date:'dd/MM/yyyy'}} </td>
          </ng-container>

        <ng-container matColumnDef="delete" class="col-6">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
                <button mat-icon-button class="col-offset-6" (click)="onDeleteUser(user)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button class="col-offset-6" (click)="editarUsuario(user)">
                    <mat-icon>edit</mat-icon>
                </button> 
                <button [routerLink]="user.id" color="accent" mat-icon-button>
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>

<div *ngIf="editar && !isLoading">
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" [(ngModel)]="userEdit.firstName" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input type="text" [(ngModel)]="userEdit.lastName" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" [(ngModel)]="userEdit.email" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="userEdit.role" name="role">
          <mat-option value="Admin">ADMIN</mat-option>
          <mat-option value="user">USER</mat-option>
          <mat-option value="user">STUDENT</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="guardar()">guardar</button>
    <button mat-raised-button color="accent" (click)="editar=false">cancelar</button>
    
</div>
<div class="app-loading" *ngIf="isLoading"> 
    <mat-spinner class="example-margin" color="accent"></mat-spinner>
</div>