
<div *ngIf="!isLoading" class="flex justify-content-end m-3" >
  <button  (click)="onCreate()" mat-button>
    Agregar
  </button>
</div>
<table mat-table [dataSource]="courses" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> Nombre del curso </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="teacherName">
      <th mat-header-cell *matHeaderCellDef> Profesor adjunto </th>
      <td mat-cell *matCellDef="let element"> {{element.tname}} </td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button (click)="onDelete(element.id)" color="primary" mat-icon-button >
            <mat-icon>delete</mat-icon>
        </button>
        <button (click)="onEdit(element)" color="accent" mat-icon-button >
            <mat-icon>edit</mat-icon>
        </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="app-loading" *ngIf="isLoading"> 
  <mat-spinner class="example-margin" color="accent"></mat-spinner>
</div>