.app-loading{
    position: fixed;
    
    background-color: rgba($color: hsla(0, 0%, 100%, 0), $alpha: 1);
    height: 90vh;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
.body {
    font-family: 'Arial', sans-serif;
    background-color: #fce9e9; /* Color de fondo rosa pálido */
    color: #7d7d7d; /* Color de texto gris oscuro */
    margin: 0;
    padding: 0;
  }
  
.header {
    background-color: #f9a1a1; /* Color de fondo rosa */
    color: #fff; /* Color de texto blanco */
    text-align: center;
    padding: 20px;
  }
  
.h1 {
    margin: 0;
  }
  
.introduction {
    background-color: #fff; /* Color de fondo blanco */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
.features {
    display: flex;
    justify-content: space-around;
    background-color: #fcd3d3; /* Color de fondo rosa claro */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }
  
.feature {
    text-align: center;
  }
  
.footer {
    background-color: #f9a1a1; /* Color de fondo rosa */
    color: #fff; /* Color de texto blanco */
    text-align: center;
    padding: 20px;
  }
  