
<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p appTitle>¡Bienvenido al Campos Virtual!</p>
      <button (click)="click1()" mat-raised-button class="mr-3">Alumno</button>
      <button (click)="click2()" mat-raised-button>Profesor</button>
      @if (showFiller) {
        <p>Información</p>
        <p>Contacto</p>
        <p>Cursos</p>
      }
        @if (showFiller2) {
          <p>Información Profesor</p>
          <p>Contacto Profesor</p>
          <p>Cursos Profesor</p>
        }
    </mat-drawer>
  <!--CONTENIDO-->
    <div class="example-sidenav-content">
       <mat-toolbar color="accent">
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon >menu</mat-icon>
          </button>
          <span>My App</span>
        </mat-toolbar>
      <div class="p-3">
        <app-users></app-users>
      </div>          
    </div>
</mat-drawer-container>