
<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer mode="side" class="dashboard-sidebar">
      <mat-nav-list>
        <a 
          #homeLink="routerLinkActive"
          routerLinkActive
          [activated]="homeLink.isActive"
          routerLink="" mat-list-item>Inicio</a>
        <a 
          #usersLink="routerLinkActive"
          routerLinkActive
          [activated]="usersLink.isActive"
          routerLink="users" mat-list-item >Alumno</a>
        <a 
        #coursesLink="routerLinkActive"
        routerLinkActive
        [activated]="coursesLink.isActive"
        routerLink="courses" mat-list-item >Cursos</a>
        <a
          #teacherLink="routerLinkActive"
          routerLinkActive
          [activated]="teacherLink.isActive"
          routerLink="teacher" mat-list-item>Profesor</a>
      </mat-nav-list>
    </mat-drawer>
  <!--CONTENIDO-->
    <div class="example-sidenav-content">
       <mat-toolbar color="accent">
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon >menu</mat-icon>
          </button>
          <span>My App</span>
        </mat-toolbar>
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>          
    </div>
</mat-drawer-container>