
<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer mode="side" class="dashboard-sidebar">
      <mat-nav-list>
        <a 
          #homeLink="routerLinkActive"
          routerLinkActive
          [activated]="homeLink.isActive"
          routerLink="home" mat-list-item>Inicio</a>
        <a *ngIf="role === 'ADMIN'"
          #usersLink="routerLinkActive"
          routerLinkActive
          [activated]="usersLink.isActive"
          routerLink="users" mat-list-item>Usuarios</a>
        <a 
          #coursesLink="routerLinkActive"
          routerLinkActive
          [activated]="coursesLink.isActive"
          routerLink="courses" mat-list-item >Cursos</a>
        <a 
        #inscriptionsLink="routerLinkActive"
        routerLinkActive
        [activated]="inscriptionsLink.isActive"
        routerLink="inscriptions" mat-list-item >Inscripciones</a>
        <a (click)="logout()" mat-list-item class="cerrar-sesion">Cerrar sesion</a>
      </mat-nav-list>
    </mat-drawer>
  <!--CONTENIDO-->
    <div class="example-sidenav-content">
       <mat-toolbar color="accent">
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon >menu</mat-icon>
          </button>
          <span>My App</span>
          <span style="flex: 1"> </span>
          <div *ngIf="authUser$ | async; let user">
            <span>{{ user.firstName }} {{ user.lastName }}</span>
            <p class="m-0">{{ user.email }}</p>
          </div>
        </mat-toolbar>
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>          
    </div>
</mat-drawer-container>